<div class="form">
  <div class="fieldrow">
    <label class="lui-label">Connection Name</label>
    <input class="lui-input" ng-model="name"/>
  </div>
  <div class="fieldrow">
    <label class="lui-label">Connection Type</label>
    <input class="lui-input" ng-model="type"/>
  </div>
  <div class="fieldrow">
    <label class="lui-label">Connection String</label>
    <textarea class="lui-textarea" ng-model="connectionstring"></textarea>
  </div>
  <div class="fieldrow">
    <button class="lui-button" ng-click="clickButton()">Create Connection</button>
  </div>
</div>
